@use "../_variables" as vars;
@use "./position" as pos;

@mixin tooltip-box {
    position: relative;

    &::before {
        box-sizing: border-box;
        color: vars.$tooltip-color;
        display: inline-block;
        font-family: vars.$tooltip-font-family;
        font-size: vars.$tooltip-font-size;
        hyphens: auto;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        visibility: hidden;
        z-index: vars.$tooltip-z-index;
        background: vars.$tooltip-background-color;
        border-radius: vars.$tooltip-borderradius;
        content: attr(data-tooltip);
        padding: vars.$tooltip-padding;
        text-overflow: ellipsis;
        white-space: pre;
    }

    @include pos.tooltip-box-bottom;

    &.has-tooltip-overflow {
        overflow: visible;

        &::before {
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }

        &.has-tooltip-bottom::before {
            top: 100%;
            transform: translate(-50%, 0);
        }

        &.has-tooltip-left::before {
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
        }

        &.has-tooltip-right::before {
            top: 50%;
            left: 100%;
            transform: translate(0, -50%);
        }
    }
}