@use "../variables" as vars;

@mixin tooltip-multiline {
	&::before {
		height: auto;
		width: vars.$tooltip-max-width;
		max-width: vars.$tooltip-max-width;
		text-overflow: clip;
		white-space: normal;
		word-break: keep-all;
	}
}
