@use "../_variables" as vars;

@mixin tooltip-hover {
	&:hover::before,
	&:hover::after,
	&.has-tooltip-active::before,
	&.has-tooltip-active::after {
		@content;
	}
}

@mixin tooltip-arrow-top {
	&.has-tooltip-arrow {
		&::after {
			top: 0;
			right: auto;
			bottom: auto;
			left: 50%;
			margin-top: calc(#{vars.$tooltip-arrow-size} * -1 + 1);
			margin-right: auto;
			margin-bottom: auto;
			margin-left: calc(#{vars.$tooltip-arrow-size} * -1 + 1);
			border-color: vars.$tooltip-border-color transparent transparent transparent;
		}
	}
}

@mixin tooltip-box-top {
	&::before {
		top: 0;
		right: auto;
		bottom: auto;
		left: 50%;
		margin-top: calc(#{vars.$tooltip-arrow-size} * -1 - 5px); // Adjusted to 10px above
		margin-bottom: auto;
		transform: translate(-50%, -100%);
	}
}

@mixin tooltip-top {
	@include tooltip-arrow-top;
	@include tooltip-box-top;
}

@mixin tooltip-arrow-bottom {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: auto;
			bottom: -1px;
			left: 50%;
			margin-top: auto;
			margin-right: auto;
			margin-bottom: calc(#{vars.$tooltip-arrow-size} * -1 + 1);
			margin-left: calc(#{vars.$tooltip-arrow-size} * -1 + 1);
			border-color: transparent transparent vars.$tooltip-border-color transparent;
		}
	}
}

@mixin tooltip-box-bottom {
	&::before {
		top: auto;
		right: auto;
		bottom: 0;
		left: 50%;
		margin-top: auto;
		margin-bottom: calc(#{vars.$tooltip-arrow-size} * -1 - 5px); // Adjusted to 10px below
		transform: translate(-50%, 100%);
	}
}

@mixin tooltip-bottom {
	@include tooltip-arrow-bottom;
	@include tooltip-box-bottom;
}

@mixin tooltip-arrow-left {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: auto;
			bottom: 50%;
			left: 0;
			margin-top: auto;
			margin-right: auto;
			margin-bottom: calc(#{vars.$tooltip-arrow-size} * -1);
			margin-left: calc(#{vars.$tooltip-arrow-size} * -1 + 1);
			border-color: transparent transparent transparent vars.$tooltip-border-color;
		}
	}
}

@mixin tooltip-box-left {
	&::before {
		top: auto;
		right: auto;
		bottom: 50%;
		left: calc(#{vars.$tooltip-arrow-size} * -1 - 5px); // Adjusted to 5px left
		transform: translate(-100%, 50%);
	}
}

@mixin tooltip-left {
	@include tooltip-arrow-left;
	@include tooltip-box-left;
}

@mixin tooltip-arrow-right {
	&.has-tooltip-arrow {
		&::after {
			top: auto;
			right: 0;
			bottom: 50%;
			left: auto;
			margin-top: auto;
			margin-right: calc(#{vars.$tooltip-arrow-size} * -1);
			margin-bottom: calc(#{vars.$tooltip-arrow-size} * -1);
			margin-left: auto;
			border-color: transparent vars.$tooltip-border-color transparent transparent;
		}
	}
}

@mixin tooltip-box-right {
	&::before {
		top: auto;
		right: calc(#{vars.$tooltip-arrow-size} * -1 - 3px); // Adjusted to 5px right
		bottom: 50%;
		left: auto;
		margin-top: auto;
		transform: translate(100%, 50%);
	}
}

@mixin tooltip-right {
	@include tooltip-arrow-right;
	@include tooltip-box-right;
}

@mixin tooltip-direction($direction) {
	@if $direction == "top" {
		@include tooltip-top;
	} @else if $direction == "right" {
		@include tooltip-right;
	} @else if $direction == "bottom" {
		@include tooltip-bottom;
	} @else if $direction == "left" {
		@include tooltip-left;
	}
}
