@media screen and (max-width: 768px) {
  [data-tooltip].has-tooltip-hidden-mobile::after, [data-tooltip].has-tooltip-hidden-mobile::before {
    opacity: 0 !important;
    display: none !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  [data-tooltip].has-tooltip-hidden-tablet::after, [data-tooltip].has-tooltip-hidden-tablet::before {
    opacity: 0 !important;
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  [data-tooltip].has-tooltip-hidden-desktop::after, [data-tooltip].has-tooltip-hidden-desktop::before {
    opacity: 0 !important;
    display: none !important;
  }
}

.has-tooltip-click-only:hover::before, .has-tooltip-click-only:hover::after {
  opacity: 0 !important;
  display: none !important;
}

.has-tooltip-hover-only.has-tooltip-active::before, .has-tooltip-hover-only.has-tooltip-active::after {
  opacity: 0 !important;
  display: none !important;
}

.has-tooltip-hidden::before, .has-tooltip-hidden::after {
  opacity: 0 !important;
  display: none !important;
}

.has-tooltip-sticky::before, .has-tooltip-sticky::after {
  opacity: 1 !important;
  display: inline-block !important;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]:not(.is-loading), [data-tooltip]:not(.is-disabled), [data-tooltip]:not([disabled]) {
  cursor: pointer;
  overflow: visible;
  position: relative;
}
[data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-family: var(--mud-typography-caption-family, "Helvetica Neue", Arial, sans-serif);
  font-size: var(--mud-typography-caption-size, 0.875rem);
  font-weight: var(--mud-typography-caption-weight, 400);
  line-height: var(--mud-typography-caption-lineheight, 1.4);
  hyphens: auto;
  opacity: 0;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: var(--mud-zindex-tooltip, 9999);
  background: var(--mud-palette-gray-darker, #333333);
  border-radius: var(--mud-default-borderradius, 4px);
  border: 1px solid var(--mud-palette-gray-darker, #333333);
  content: attr(data-tooltip);
  padding: var(--mud-tooltip-padding, 4px 8px);
  text-overflow: ellipsis;
  white-space: pre-line;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
[data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  margin-top: auto;
  margin-bottom: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  transform: translate(-50%, 100%);
}
[data-tooltip]:not(.is-loading).has-tooltip-arrow::after, [data-tooltip]:not(.is-disabled).has-tooltip-arrow::after, [data-tooltip]:not([disabled]).has-tooltip-arrow::after {
  box-sizing: border-box;
  color: var(--mud-palette-dark-text, #ffffff);
  display: inline-block;
  font-family: var(--mud-typography-caption-family, "Helvetica Neue", Arial, sans-serif);
  font-size: var(--mud-typography-caption-size, 0.875rem);
  font-weight: var(--mud-typography-caption-weight, 400);
  line-height: var(--mud-typography-caption-lineheight, 1.4);
  hyphens: auto;
  opacity: 0;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: calc(var(--mud-zindex-tooltip, 9999) + 1);
  content: "";
  border-style: solid;
  border-width: var(--mud-tooltip-arrow-size, 6px);
  border-color: transparent transparent var(--mud-palette-gray-darker, #333333) transparent;
  margin-bottom: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
}
[data-tooltip]:not(.is-loading).has-tooltip-arrow.has-tooltip-arrow::after, [data-tooltip]:not(.is-disabled).has-tooltip-arrow.has-tooltip-arrow::after, [data-tooltip]:not([disabled]).has-tooltip-arrow.has-tooltip-arrow::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -1px;
  left: 50%;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  margin-left: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  border-color: transparent transparent var(--mud-palette-gray-darker, #333333) transparent;
}
[data-tooltip]:not(.is-loading).has-tooltip-top.has-tooltip-arrow::after, [data-tooltip]:not(.is-disabled).has-tooltip-top.has-tooltip-arrow::after, [data-tooltip]:not([disabled]).has-tooltip-top.has-tooltip-arrow::after {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
  margin-top: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  margin-right: auto;
  margin-bottom: auto;
  margin-left: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  border-color: var(--mud-palette-gray-darker, #333333) transparent transparent transparent;
}
[data-tooltip]:not(.is-loading).has-tooltip-top::before, [data-tooltip]:not(.is-disabled).has-tooltip-top::before, [data-tooltip]:not([disabled]).has-tooltip-top::before {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
  margin-top: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  margin-bottom: auto;
  transform: translate(-50%, -100%);
}
[data-tooltip]:not(.is-loading).has-tooltip-left.has-tooltip-arrow::after, [data-tooltip]:not(.is-disabled).has-tooltip-left.has-tooltip-arrow::after, [data-tooltip]:not([disabled]).has-tooltip-left.has-tooltip-arrow::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 50%;
  left: 0;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: calc(var(--mud-tooltip-arrow-size, 6px) * -1);
  margin-left: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  border-color: transparent transparent transparent var(--mud-palette-gray-darker, #333333);
}
[data-tooltip]:not(.is-loading).has-tooltip-left::before, [data-tooltip]:not(.is-disabled).has-tooltip-left::before, [data-tooltip]:not([disabled]).has-tooltip-left::before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 50%;
  left: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  transform: translate(-100%, 50%);
}
[data-tooltip]:not(.is-loading).has-tooltip-right.has-tooltip-arrow::after, [data-tooltip]:not(.is-disabled).has-tooltip-right.has-tooltip-arrow::after, [data-tooltip]:not([disabled]).has-tooltip-right.has-tooltip-arrow::after {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 50%;
  left: auto;
  margin-top: auto;
  margin-right: calc(var(--mud-tooltip-arrow-size, 6px) * -1);
  margin-bottom: calc(var(--mud-tooltip-arrow-size, 6px) * -1);
  margin-left: auto;
  border-color: transparent var(--mud-palette-gray-darker, #333333) transparent transparent;
}
[data-tooltip]:not(.is-loading).has-tooltip-right::before, [data-tooltip]:not(.is-disabled).has-tooltip-right::before, [data-tooltip]:not([disabled]).has-tooltip-right::before {
  position: absolute;
  top: auto;
  right: calc(var(--mud-tooltip-arrow-size, 6px) * -1 + 1px);
  bottom: 50%;
  left: auto;
  margin-top: auto;
  transform: translate(100%, 50%);
}
[data-tooltip]:not(.is-loading).has-tooltip-multiline::before, [data-tooltip]:not(.is-disabled).has-tooltip-multiline::before, [data-tooltip]:not([disabled]).has-tooltip-multiline::before {
  height: auto;
  width: var(--mud-tooltip-max-width, 200px);
  max-width: var(--mud-tooltip-max-width, 200px);
  text-overflow: clip;
  white-space: normal;
  word-break: keep-all;
}
[data-tooltip]:not(.is-loading).has-tooltip-text-left::before, [data-tooltip]:not(.is-disabled).has-tooltip-text-left::before, [data-tooltip]:not([disabled]).has-tooltip-text-left::before {
  text-align: left;
}
[data-tooltip]:not(.is-loading).has-tooltip-text-centered::before, [data-tooltip]:not(.is-disabled).has-tooltip-text-centered::before, [data-tooltip]:not([disabled]).has-tooltip-text-centered::before {
  text-align: center;
}
[data-tooltip]:not(.is-loading).has-tooltip-text-right::before, [data-tooltip]:not(.is-disabled).has-tooltip-text-right::before, [data-tooltip]:not([disabled]).has-tooltip-text-right::before {
  text-align: right;
}
[data-tooltip]:not(.is-loading).has-tooltip-primary::after, [data-tooltip]:not(.is-disabled).has-tooltip-primary::after, [data-tooltip]:not([disabled]).has-tooltip-primary::after {
  border-color: transparent transparent var(--mud-palette-primary, #1976d2) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-primary.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-primary.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-primary.has-tooltip-top::after {
  border-color: var(--mud-palette-primary, #1976d2) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-primary.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-primary.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-primary.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-primary, #1976d2) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-primary.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-primary.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-primary.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-primary, #1976d2) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-primary:before, [data-tooltip]:not(.is-disabled).has-tooltip-primary:before, [data-tooltip]:not([disabled]).has-tooltip-primary:before {
  background-color: var(--mud-palette-primary, #1976d2);
  border-color: var(--mud-palette-primary, #1976d2);
  color: var(--mud-palette-primary-text, #fff);
}
[data-tooltip]:not(.is-loading).has-tooltip-secondary::after, [data-tooltip]:not(.is-disabled).has-tooltip-secondary::after, [data-tooltip]:not([disabled]).has-tooltip-secondary::after {
  border-color: transparent transparent var(--mud-palette-secondary, #9c27b0) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-secondary.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-secondary.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-secondary.has-tooltip-top::after {
  border-color: var(--mud-palette-secondary, #9c27b0) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-secondary.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-secondary.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-secondary.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-secondary, #9c27b0) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-secondary.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-secondary.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-secondary.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-secondary, #9c27b0) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-secondary:before, [data-tooltip]:not(.is-disabled).has-tooltip-secondary:before, [data-tooltip]:not([disabled]).has-tooltip-secondary:before {
  background-color: var(--mud-palette-secondary, #9c27b0);
  border-color: var(--mud-palette-secondary, #9c27b0);
  color: var(--mud-palette-secondary-text, #fff);
}
[data-tooltip]:not(.is-loading).has-tooltip-tertiary::after, [data-tooltip]:not(.is-disabled).has-tooltip-tertiary::after, [data-tooltip]:not([disabled]).has-tooltip-tertiary::after {
  border-color: transparent transparent var(--mud-palette-tertiary, #1ec8a5) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-tertiary.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-tertiary.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-tertiary.has-tooltip-top::after {
  border-color: var(--mud-palette-tertiary, #1ec8a5) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-tertiary.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-tertiary.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-tertiary.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-tertiary, #1ec8a5) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-tertiary.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-tertiary.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-tertiary.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-tertiary, #1ec8a5) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-tertiary:before, [data-tooltip]:not(.is-disabled).has-tooltip-tertiary:before, [data-tooltip]:not([disabled]).has-tooltip-tertiary:before {
  background-color: var(--mud-palette-tertiary, #1ec8a5);
  border-color: var(--mud-palette-tertiary, #1ec8a5);
  color: var(--mud-palette-tertiary-text, #fff);
}
[data-tooltip]:not(.is-loading).has-tooltip-warning::after, [data-tooltip]:not(.is-disabled).has-tooltip-warning::after, [data-tooltip]:not([disabled]).has-tooltip-warning::after {
  border-color: transparent transparent var(--mud-palette-warning, #ff9800) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-warning.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-warning.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-warning.has-tooltip-top::after {
  border-color: var(--mud-palette-warning, #ff9800) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-warning.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-warning.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-warning.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-warning, #ff9800) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-warning.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-warning.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-warning.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-warning, #ff9800) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-warning:before, [data-tooltip]:not(.is-disabled).has-tooltip-warning:before, [data-tooltip]:not([disabled]).has-tooltip-warning:before {
  background-color: var(--mud-palette-warning, #ff9800);
  border-color: var(--mud-palette-warning, #ff9800);
  color: var(--mud-palette-warning-text, #000);
}
[data-tooltip]:not(.is-loading).has-tooltip-info::after, [data-tooltip]:not(.is-disabled).has-tooltip-info::after, [data-tooltip]:not([disabled]).has-tooltip-info::after {
  border-color: transparent transparent var(--mud-palette-info, #2196f3) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-info.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-info.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-info.has-tooltip-top::after {
  border-color: var(--mud-palette-info, #2196f3) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-info.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-info.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-info.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-info, #2196f3) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-info.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-info.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-info.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-info, #2196f3) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-info:before, [data-tooltip]:not(.is-disabled).has-tooltip-info:before, [data-tooltip]:not([disabled]).has-tooltip-info:before {
  background-color: var(--mud-palette-info, #2196f3);
  border-color: var(--mud-palette-info, #2196f3);
  color: var(--mud-palette-info-text, #fff);
}
[data-tooltip]:not(.is-loading).has-tooltip-success::after, [data-tooltip]:not(.is-disabled).has-tooltip-success::after, [data-tooltip]:not([disabled]).has-tooltip-success::after {
  border-color: transparent transparent var(--mud-palette-success, #4caf50) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-success.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-success.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-success.has-tooltip-top::after {
  border-color: var(--mud-palette-success, #4caf50) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-success.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-success.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-success.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-success, #4caf50) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-success.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-success.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-success.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-success, #4caf50) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-success:before, [data-tooltip]:not(.is-disabled).has-tooltip-success:before, [data-tooltip]:not([disabled]).has-tooltip-success:before {
  background-color: var(--mud-palette-success, #4caf50);
  border-color: var(--mud-palette-success, #4caf50);
  color: var(--mud-palette-success-text, #fff);
}
[data-tooltip]:not(.is-loading).has-tooltip-error::after, [data-tooltip]:not(.is-disabled).has-tooltip-error::after, [data-tooltip]:not([disabled]).has-tooltip-error::after {
  border-color: transparent transparent var(--mud-palette-error, #f44336) transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-error.has-tooltip-top::after, [data-tooltip]:not(.is-disabled).has-tooltip-error.has-tooltip-top::after, [data-tooltip]:not([disabled]).has-tooltip-error.has-tooltip-top::after {
  border-color: var(--mud-palette-error, #f44336) transparent transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-error.has-tooltip-left::after, [data-tooltip]:not(.is-disabled).has-tooltip-error.has-tooltip-left::after, [data-tooltip]:not([disabled]).has-tooltip-error.has-tooltip-left::after {
  border-color: transparent transparent transparent var(--mud-palette-error, #f44336) !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-error.has-tooltip-right::after, [data-tooltip]:not(.is-disabled).has-tooltip-error.has-tooltip-right::after, [data-tooltip]:not([disabled]).has-tooltip-error.has-tooltip-right::after {
  border-color: transparent var(--mud-palette-error, #f44336) transparent transparent !important;
}
[data-tooltip]:not(.is-loading).has-tooltip-error:before, [data-tooltip]:not(.is-disabled).has-tooltip-error:before, [data-tooltip]:not([disabled]).has-tooltip-error:before {
  background-color: var(--mud-palette-error, #f44336);
  border-color: var(--mud-palette-error, #f44336);
  color: var(--mud-palette-error-text, #fff);
}
[data-tooltip]:not(.is-loading):hover::before, [data-tooltip]:not(.is-loading):hover::after, [data-tooltip]:not(.is-loading).has-tooltip-active::before, [data-tooltip]:not(.is-loading).has-tooltip-active::after, [data-tooltip]:not(.is-disabled):hover::before, [data-tooltip]:not(.is-disabled):hover::after, [data-tooltip]:not(.is-disabled).has-tooltip-active::before, [data-tooltip]:not(.is-disabled).has-tooltip-active::after, [data-tooltip]:not([disabled]):hover::before, [data-tooltip]:not([disabled]):hover::after, [data-tooltip]:not([disabled]).has-tooltip-active::before, [data-tooltip]:not([disabled]).has-tooltip-active::after {
  opacity: 1;
  visibility: visible;
}
[data-tooltip]:not(.is-loading).has-tooltip-fade::before, [data-tooltip]:not(.is-loading).has-tooltip-fade::after, [data-tooltip]:not(.is-disabled).has-tooltip-fade::before, [data-tooltip]:not(.is-disabled).has-tooltip-fade::after, [data-tooltip]:not([disabled]).has-tooltip-fade::before, [data-tooltip]:not([disabled]).has-tooltip-fade::after {
  transition: opacity var(--mud-tooltip-animation-duration, 0.15s) var(--mud-tooltip-transition, ease-in-out), visibility var(--mud-tooltip-animation-duration, 0.15s) var(--mud-tooltip-transition, ease-in-out), transform var(--mud-tooltip-animation-duration, 0.15s) var(--mud-tooltip-transition, ease-in-out);
  will-change: opacity, visibility, transform;
}
[data-tooltip]:not(.is-loading).has-tooltip-fade:hover::before, [data-tooltip]:not(.is-loading).has-tooltip-fade:hover::after, [data-tooltip]:not(.is-loading).has-tooltip-fade.has-tooltip-active::before, [data-tooltip]:not(.is-loading).has-tooltip-fade.has-tooltip-active::after, [data-tooltip]:not(.is-disabled).has-tooltip-fade:hover::before, [data-tooltip]:not(.is-disabled).has-tooltip-fade:hover::after, [data-tooltip]:not(.is-disabled).has-tooltip-fade.has-tooltip-active::before, [data-tooltip]:not(.is-disabled).has-tooltip-fade.has-tooltip-active::after, [data-tooltip]:not([disabled]).has-tooltip-fade:hover::before, [data-tooltip]:not([disabled]).has-tooltip-fade:hover::after, [data-tooltip]:not([disabled]).has-tooltip-fade.has-tooltip-active::before, [data-tooltip]:not([disabled]).has-tooltip-fade.has-tooltip-active::after {
  transition-delay: 100ms;
}

span[data-tooltip] {
  border-bottom: 1px dashed var(--mud-palette-gray-darker, #333333);
}
span[data-tooltip].has-tooltip-primary {
  border-bottom-color: var(--mud-palette-primary-lighten, #2196f3);
}
span[data-tooltip].has-tooltip-secondary {
  border-bottom-color: var(--mud-palette-secondary-lighten, #ba68c8);
}
span[data-tooltip].has-tooltip-tertiary {
  border-bottom-color: var(--mud-palette-tertiary-lighten, #2ee6bf);
}
span[data-tooltip].has-tooltip-warning {
  border-bottom-color: var(--mud-palette-warning-lighten, #ffb74d);
}
span[data-tooltip].has-tooltip-info {
  border-bottom-color: var(--mud-palette-info-lighten, #64b5f6);
}
span[data-tooltip].has-tooltip-success {
  border-bottom-color: var(--mud-palette-success-lighten, #81c784);
}
span[data-tooltip].has-tooltip-error {
  border-bottom-color: var(--mud-palette-error-lighten, #e57373);
}

.control span[data-tooltip] {
  border-bottom: none;
}