@use 'variables' as v;

@mixin tooltip-fade {
  &::before,
  &::after {
    transition: 
      opacity v.$tooltip-animation-duration var(--tooltip-transition, v.$tooltip-animation-transition), 
      visibility v.$tooltip-animation-duration var(--tooltip-transition, v.$tooltip-animation-transition);
    opacity: 0;
    visibility: hidden;
  }

  // On hover or active state, fade in the tooltip immediately
  &:hover::before,
  &:hover::after,
  &.has-tooltip-active::before,
  &.has-tooltip-active::after {
    opacity: 1;
    visibility: visible;
    transition-delay: var(--tooltip-show-delay, 100ms); // Start delay on hover
  }

  // When leaving hover, delay the fade-out effect by tooltip-hide-delay
  &:not(:hover)::before,
  &:not(:hover)::after {
    transition-delay: var(--tooltip-hide-delay, v.$tooltip-hide-delay); // Delay fade-out on hover leave
  }
}
