[data-tooltip] {
  &.has-tooltip-hidden-mobile {
    @media screen and (max-width: 768px) {
      &::after,
      &::before {
        opacity: 0 !important;
        display: none !important;
      }
    }
  }

  &.has-tooltip-hidden-tablet {
    @media screen and (min-width: 769px) and (max-width: 1023px) {
      &::after,
      &::before {
        opacity: 0 !important;
        display: none !important;
      }
    }
  }

  &.has-tooltip-hidden-desktop {
    @media screen and (min-width: 1024px) {
      &::after,
      &::before {
        opacity: 0 !important;
        display: none !important;
      }
    }
  }
}
