@use 'variables' as v;

@mixin tooltip-sized {  
  
    // set max-width if a size class isn't used
    &:not(.tooltip-small):not(.tooltip-medium):not(.tooltip-large):not(.tooltip-fit) {
      &::after {
        max-width: v.$tooltip-size-large;
      }
    }

  &.tooltip-small {
    &::after {
      max-width: v.$tooltip-size-small;
    }
  }
  
  &.tooltip-medium {
    &::after {
      max-width: v.$tooltip-size-medium;
    }
  }
  
  &.tooltip-large {
    &::after {
      max-width: v.$tooltip-size-large;
    }
  }
  
  &.tooltip-fit {
    &::after {
      max-width: 100%;
    }
  }
}