@use 'variables' as v;

@mixin tooltip-sized {  
  
    // set max-width if a size class isn't used to large
    // set width to static size if variable is defined
    &:not(.tooltip-small):not(.tooltip-medium):not(.tooltip-large):not(.tooltip-fit) {
      &::after {    
        max-width: var(--tooltip-width, v.$tooltip-size-large);
        width: var(--tooltip-width, auto);
      }
    }

  &.tooltip-small {
    &::after {
      max-width: v.$tooltip-size-small;
    }
  }
  
  &.tooltip-medium {
    &::after {
      max-width: v.$tooltip-size-medium;
    }
  }
  
  &.tooltip-large {
    &::after {
      max-width: v.$tooltip-size-large;
    }
  }
  
  &.tooltip-fit {
    &::after {
      max-width: 100%;
    }
  }
}