@mixin base-state {
  &:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative;
    @content;
  }
}

.tooltip-hidden {
  &::before,
  &::after {
    opacity: 0 !important;
    display: none !important;
  }
}

.tooltip-fixed {
  &::after {
    width: 100% !important;
  }
}