@mixin base-state {
  &:not(.is-loading),
  &:not(.is-disabled),
  &:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative;
    @content;
  }
}

.has-tooltip-hidden {
  &::before,
  &::after {
    opacity: 0 !important;
    display: none !important;
  }
}