@mixin base-state {
  &:not(.is-loading),
  &:not(.is-disabled),
  &:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative;
    @content;
  }
}

.has-tooltip-click-only {
  &:hover::before,
  &:hover::after {
    opacity: 0 !important;
    display: none !important;
  }
}

.has-tooltip-hover-only {
  &.has-tooltip-active::before,
  &.has-tooltip-active::after {
    opacity: 0 !important;
    display: none !important;
  }
}

.has-tooltip-hidden {
  &::before,
  &::after {
    opacity: 0 !important;
    display: none !important;
  }
}

.has-tooltip-sticky {
  &::before,
  &::after {
    opacity: 1 !important;
    display: inline-block !important;
  }
}
