// Defaults to MudBlazor, then a default value

// Animation
$tooltip-animation-duration: var(--mud-tooltip-animation-duration, 0.35s) !default;
$tooltip-animation-transition: var(--mud-tooltip-transition,  var(--tooltip-transition, slide)) !default;
$tooltip-hide-delay: var(--mud-tooltip-hide-delay, var(--tooltip-hide-delay, 200ms)) !default;
$tooltip-show-delay: var(--mud-tooltip-show-delay, var(--tooltip-show-delay, 300ms)) !default;

// Typography
$tooltip-font-family: var(--mud-typography-caption-family, var(--tooltip-font-family, "Helvetica Neue", Arial, sans-serif)) !default;
$tooltip-font-size: var(--mud-typography-caption-size, var(--tooltip-font-size, 0.875rem)) !default;
$tooltip-font-weight: var(--mud-typography-caption-weight, var(--tooltip-font-weight, 400)) !default;
$tooltip-font-lineheight: var(--mud-typography-caption-lineheight, var(--tooltip-font-lineheight, 1.4)) !default;

// Sizing
$tooltip-arrow-size: 6px !default;
$tooltip-vertical-padding: var(--mud-tooltip-vertical-padding, 8px) !default;
$tooltip-horizontal-padding: var(--mud-tooltip-horizontal-padding, 4px) !default;
$tooltip-padding: $tooltip-horizontal-padding $tooltip-vertical-padding !default; 
$tooltip-height: calc($tooltip-font-size + 2 * $tooltip-vertical-padding) !default;
$tooltip-offset-x: 2 * $tooltip-arrow-size !default; 
$tooltip-border-radius: var(--mud-default-borderradius, var(--tooltip-border-radius, 4px)) !default;
$tooltip-z-index: var(--mud-zindex-tooltip, var(--tooltip-z-index, 9999)) !default;
$tooltip-size-small: var(--tooltip-size-small, 80px) !default;
$tooltip-size-medium: var(--tooltip-size-medium, 150px) !default;
$tooltip-size-large: var(--tooltip-size- large, 300px) !default;
$tooltip-distance: 8px !default;

// Colors
$tooltip-background-color: var(--mud-palette-gray-darker, var(--tooltip-background-color, #616161)) !default;
$tooltip-color: var(--mud-palette-dark-text, var(--tooltip-foreground-color, rgb(255,255,255))) !default;

// Color system 
$tooltip-colors: (
  "primary": (
    background: var(--mud-palette-primary, rgb(89,74,226)),
    text: var(--mud-palette-primary-text, rgb(255,255,255))
  ),
  "secondary": (
    background: var(--mud-palette-secondary, rgb(255,64,129)),
    text: var(--mud-palette-secondary-text, rgb(255,255,255))
  ),
  "tertiary": (
    background: var(--mud-palette-tertiary, rgb(30,200,165)),
    text: var(--mud-palette-tertiary-text, rgb(255,255,255))
  ),
  "warning": (
    background: var(--mud-palette-warning, rgb(255,152,0)),
    text: var(--mud-palette-warning-text, rgb(255,255,255))
  ),
  "info": (
    background: var(--mud-palette-info, rgb(33,150,243)),
    text: var(--mud-palette-info-text, rgb(255,255,255))
  ),
  "success": (
    background: var(--mud-palette-success, rgb(0,200,83)),
    text: var(--mud-palette-success-text, rgb(255,255,255))
  ),
  "error": (
    background: var(--mud-palette-error, rgb(244,67,54)),
    text: var(--mud-palette-error-text, rgb(255,255,255))
  )
) !default;
