
$tooltip-animation-duration: 0.3s !default;
$tooltip-animation-transition-timing-function: linear !default;
$tooltip-arrow-size: 6px !default;
$tooltip-background-color: var(--mud-palette-gray-darker, #616161) !default;
$tooltip-border-color: var(--mud-palette-gray-darker, #616161) !default;
$tooltip-color: var(--mud-palette-dark-text, #fff) !default;
$tooltip-font-family: var(--mud-typography-caption-family, Arial, Helvetica, sans-serif) !default;
$tooltip-font-size: var(--mud-typography-caption-size, 12px) !default;
$tooltip-font-weight: var(--mud-typography-caption-weight, 500) !default;
$tooltip-font-lineheight: var(--mud-typography-caption-lineheight, 1.4em) !default;
$tooltip-max-width: 15rem !default;
$tooltip-padding: 4px 8px !default;
$tooltip-borderradius: var(--mud-default-borderradius, 4) !default;
$tooltip-z-index: var(--mud-zindex-tooltip, 1400) !default;
$tooltip-colors: (
    "primary": (background-color: var(--mud-palette-primary, #1976d2), color: var(--mud-palette-primary-text, #fff)),
    "secondary": (background-color: var(--mud-palette-secondary, #9c27b0), color: var(--mud-palette-secondary-text, #fff)),
    "tertiary": (background-color: var(--mud-palette-tertiary, #1ec8a5ff), color: var(--mud-palette-tertiary-text, #fff)),
    "warning": (background-color: var(--mud-palette-warning, #ff9800), color: var(--mud-palette-warning-text, #000000)),
    "info": (background-color: var(--mud-palette-info, #2196f3), color: var(--mud-palette-info-text, #ffffff)),
    "success": (background-color: var(--mud-palette-success, #4caf50), color: var(--mud-palette-success-text, #ffffff)),
    "error": (background-color: var(--mud-palette-error, #f44336), color: var(--mud-palette-error-text, #ffffff))    
)