@use 'sass:map';
@use 'variables' as v;
@use 'position' as p;
@use 'animation' as a;
@use 'responsiveness' as r;
@use 'state' as s;
@use 'sizes';

@mixin tooltip-arrow {
  &::after {
    content: "";
    position: absolute;
    background: transparent;
    border: v.$tooltip-arrow-size solid transparent;
    clip-path: polygon(0%0%, 100%0%, 100%100%);
    z-index: v.$tooltip-z-index + 1;
  }
}

@mixin tooltip-box {
  &::before {
    background: v.$tooltip-background-color;
    color: v.$tooltip-color;
    padding: v.$tooltip-padding;
    font-family: v.$tooltip-font-family;
    font-size: v.$tooltip-font-size;
    font-weight: v.$tooltip-font-weight;
    line-height: v.$tooltip-font-lineheight;
    white-space: nowrap;
    
    border-radius: v.$tooltip-radius;
    border: 1px solid v.$tooltip-border-color;
    content: attr(data-tooltip);    
  }
}

@mixin tooltip-multiline {
  &::before {
    height: auto;
    width: v.$tooltip-max-width;
    max-width: v.$tooltip-max-width;
    text-overflow: clip;
    white-space: normal;
    word-break: keep-all;
  }
}

[data-tooltip] {
  position: relative;
  display: inline-block;
  
  &:before,
  &:after {
    position: absolute;
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    z-index: v.$tooltip-z-index;
    pointer-events: none;
    @include a.tooltip-fade;
  }
  
  @include s.base-state {
    @include tooltip-box;
    // Set bottom as the default only if no other direction class is applied
    &:not(.has-tooltip-top):not(.has-tooltip-top-left):not(.has-tooltip-top-right):not(.has-tooltip-left):not(.has-tooltip-right):not(.has-tooltip-bottom-left):not(.has-tooltip-bottom-right) {
      @include p.tooltip-direction('bottom');
      &.has-tooltip-arrow::after {
        border-color: transparent transparent v.$tooltip-background-color transparent;
      }
    }
  
    &.has-tooltip-arrow {
      @include tooltip-arrow;
    }
  }
    &.has-tooltip-top {
      @include p.tooltip-direction('top');
      &.has-tooltip-arrow::after {
        border-color: v.$tooltip-background-color transparent transparent transparent;
      }
    }
    &.has-tooltip-top-left {
      @include p.tooltip-direction('top-left');
      &.has-tooltip-arrow::after {
        border-color: v.$tooltip-background-color transparent transparent transparent;
      }
    }
    &.has-tooltip-top-right {
      @include p.tooltip-direction('top-right');
      &.has-tooltip-arrow::after {
        border-color: v.$tooltip-background-color transparent transparent transparent;
      }
    }
    
    &.has-tooltip-left {
      @include p.tooltip-direction('left');
      &.has-tooltip-arrow::after {
        border-color: transparent transparent transparent v.$tooltip-background-color;
      }
    }
    &.has-tooltip-right {
      @include p.tooltip-direction('right');
      &.has-tooltip-arrow::after {
        border-color: transparent v.$tooltip-background-color transparent transparent;
      }
    }
    
    &.has-tooltip-bottom-left {
      @include p.tooltip-direction('bottom-left');
      &.has-tooltip-arrow::after {
        border-color: transparent transparent v.$tooltip-background-color transparent;
      }
    }
    &.has-tooltip-bottom-right {
      @include p.tooltip-direction('bottom-right');
      &.has-tooltip-arrow::after {
        border-color: transparent transparent v.$tooltip-background-color transparent;
      }
    }
    
    &.has-tooltip-text-left {
      &::before {
        text-align: left;
      }
    }
    &.has-tooltip-text-centered {
      &::before {
        text-align: center;
      }
    }
    &.has-tooltip-text-right {
      &::before {
        text-align: right;
      }
    }

    @each $name, $values in v.$tooltip-colors {
      $background-color: map.get($values, "background");
      $text-color: map.get($values, "text");
      
      &.has-tooltip-#{$name} {
        &:before {
          background-color: $background-color;
          border-color: $background-color;
          color: $text-color;
        }
        
        &.has-tooltip-arrow {
          &.has-tooltip-top::after,
          &.has-tooltip-top-left::after,
          &.has-tooltip-top-right::after {
            border-color: $background-color transparent transparent transparent;
          }
          &.has-tooltip-bottom::after,
          &.has-tooltip-bottom-left::after,
          &.has-tooltip-bottom-right::after {
            border-color: transparent transparent $background-color transparent;
          }
          &.has-tooltip-left::after {
            border-color: transparent transparent transparent $background-color;
          }
          &.has-tooltip-right::after {
            border-color: transparent $background-color transparent transparent;
          }
        }
      }
    }

    &:hover,
    &.has-tooltip-active {
      &::before,
      &::after {
        opacity: 1;
        visibility: visible;
        @include a.tooltip-fade;
      }
    }
  }

span {
  &[data-tooltip] {
    border-bottom: 1px dashed v.$tooltip-border-color;
    @each $name, $values in v.$tooltip-colors {
      $background-color: map.get($values, "background");
      $background-light: map.get($values, "background-light");
      &.has-tooltip-#{$name} {
        border-bottom-color: $background-light;
      }
    }
  }
}

.control {
  span {
    &[data-tooltip] {
      border-bottom: none;
    }
  }
}
