@use 'sass:map';
@use 'variables' as v;
@use 'position' as p;
@use 'animation' as a;
@use 'responsiveness' as r;
@use 'state' as s;

@mixin tooltip-arrow {
  &::after {
    box-sizing: border-box;
    color: v.$tooltip-color;
    display: inline-block;
    font-family: v.$tooltip-font-family;
    font-size: v.$tooltip-font-size;
    font-weight: v.$tooltip-font-weight;
    line-height: v.$tooltip-font-lineheight;
    hyphens: auto;
    opacity: 0;
    overflow: visible;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: calc(v.$tooltip-z-index + 1);
    content: '';
    border-style: solid;
    border-width: v.$tooltip-arrow-size;
    border-color: transparent transparent v.$tooltip-background-color transparent;
    margin-bottom: calc(v.$tooltip-arrow-size * -1 + 1px);
  }
  @include p.tooltip-arrow-bottom;
}

@mixin tooltip-box {
  &::before {
    box-sizing: border-box;
    color: v.$tooltip-color;
    display: block;
    font-family: v.$tooltip-font-family;
    font-size: v.$tooltip-font-size;
    font-weight: v.$tooltip-font-weight;
    line-height: v.$tooltip-font-lineheight;
    hyphens: auto;
    opacity: 0;
    overflow: visible;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: v.$tooltip-z-index;
    background: v.$tooltip-background-color;
    border-radius: v.$tooltip-radius;
    border: 1px solid v.$tooltip-border-color;
    content: attr(data-tooltip);
    padding: v.$tooltip-padding;
    text-overflow: ellipsis;
    white-space: pre-line;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  @include p.tooltip-box-bottom;
}

@mixin tooltip-multiline {
  &::before {
    height: auto;
    width: v.$tooltip-max-width;
    max-width: v.$tooltip-max-width;
    text-overflow: clip;
    white-space: normal;
    word-break: keep-all;
  }
}

[data-tooltip] {
  position: relative;
  
  @include s.base-state {
    @include tooltip-box;
    &.has-tooltip-arrow {
      @include tooltip-arrow;
    }

    &.has-tooltip-top {
      @include p.tooltip-direction('top');
    }

    &.has-tooltip-left {
      @include p.tooltip-direction('left');
    }

    &.has-tooltip-right {
      @include p.tooltip-direction('right');
    }

    &.has-tooltip-multiline {
      @include tooltip-multiline;
    }

    &.has-tooltip-text-left {
      &::before {
        text-align: left;
      }
    }
    &.has-tooltip-text-centered {
      &::before {
        text-align: center;
      }
    }
    &.has-tooltip-text-right {
      &::before {
        text-align: right;
      }
    }

    @each $name, $values in v.$tooltip-colors {
      $background-color: map.get($values, "background");
      $text-color: map.get($values, "text");
      
      &.has-tooltip-#{$name} {
        &::after {
          border-color: transparent transparent $background-color transparent !important;
        }
        &.has-tooltip-top {
          &::after {
            border-color: $background-color transparent transparent transparent !important;
          }
        }
        &.has-tooltip-left {
          &::after {
            border-color: transparent transparent transparent $background-color !important;
          }
        }
        &.has-tooltip-right {
          &::after {
            border-color: transparent $background-color transparent transparent !important;
          }
        }
        &:before {
          background-color: $background-color;
          border-color: $background-color;
          color: $text-color;
        }
      }
    }

    &:hover, &.has-tooltip-active {
      &::before, &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    &.has-tooltip-fade {
      @include a.tooltip-fade;
    }
  }
}

span {
  &[data-tooltip] {
    border-bottom: 1px dashed v.$tooltip-border-color;
    @each $name, $values in v.$tooltip-colors {
      $background-color: map.get($values, "background");
      $background-light: map.get($values, "background-light");
      &.has-tooltip-#{$name} {
        border-bottom-color: $background-light;
      }
    }
  }
}

.control {
  span {
    &[data-tooltip] {
      border-bottom: none;
    }
  }
}
